<html>
    <head>
    <title>Smoothie & Gut</title>
        <meta charset="UTF-8">
        <meta name="keywords" content="Important words">
        <meta name="description" content="short description">
        <meta name="author" content="Aishwarya">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/Homepage.css">
        <link rel="icon" href="/static/Home-images/logo image.jpg">
    </head>
    <body>
        <header class="header">
            <nav class="navbar flex">
                <span class="flex navleft navfont">
                    <a href="Homepage.html">HOME</a>
                    <a href="#aboutus">ABOUT US</a>
                    <a href="#whysmoothie">WHY SMOOTHIE!?</a>
                    <a href="menu.html">MENU</a>
                </span>
                <span class="navcenter flex">
                    <a href="/"><img class="logoimage" alt="Smoothie logo" src="https://previews.123rf.com/images/euandronova/euandronova1807/euandronova180700018/105384606-vector-illustration-of-vegan-detox-smoothie-logo-for-vegans-ingredients-for-detox-drink-.jpg"></a>
                </span>
                <span class="navright navfont flex">
                    <a href="#location">LOCATION</a>
                    <a href="#ordernowsection">ORDER NOW</a>
                    <a href="partner.html">PARTNER</a>
                    <a href="Homepage.html">FEEDBACK</a>
                </span>
            </nav>
        </header>

        <section class="captionsection">
            <div class="caption">
                <p class="captionfont"> TRY ONCE ,<br><span class="captionfont2"> drink forever.</span></p>
            </div>
        </section>

        <section class="homepagebackground">
            <h3 id="server-results"><!-- For server results --></h3>
            {% for row in rows %}
            <form action='update' method="POST"  id="updateform" name="updateform" >
                <h3>Welcome {{row.name}}</h3>
                    <input class="name" name="name" type="text" placeholder="{{row.name}}" id="name">
                    <br>
                    <input class="city" name="city" type="text" placeholder="{{row.city}}" id="city">
                    <br>
                    <input class="pin" name="pin" type="text" placeholder="{{row.pin}}" id="pin">
                    <br>
                    <input class="password" name="password" type="password" placeholder="{{row.password}}" id="password">
                    <br>
                    <button type="submit"  class="btn btn-primary updatebutton" id="{{row.id}}">update</button>
            </form>
            <a class="delete" style="margin:565px"  id="{{row.id}}" >Delete</a>
            {% endfor %}

            <br><br>


        </section>

        <footer>
            <div class="footerlogo">
                <img class="logoimage" alt="footerlogo" src="static/Home-images/logo2.webp">
            </div>

            <div id="location" class="footerfont">
                <h5>SMOOTHIE & GUT</h5>
                <p>CORPORATE OFFICE,ROAD NO 14, Hyderabad, Telangana, 500036</p>
            </div>

            <div id="followus" style="text-align:center;">
                <a href="/"><img src="static/Home-images/icons8-facebook-50.png" alt="facebooklink"></a>
                <a href="/"><img src="static/Home-images/icons8-instagram-50.png" alt="instagramlink"></a>
            </div>
        </footer>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="static/Homepage.js"></script>
        <script>
            $(document).on("click", ".delete", function(){
                var id = $(this).attr("id");
                var string = id;
                $.post("/delete", { string: string}, function(data) {
                    $("#server-results").html( data );
                    $("#updateform").hide();
                    $(".delete").hide()
                });
            });

            $(document).on("click", ".updatebutton", function(){
            var id = $(this).attr("id");
                $("#updateform").submit(function(event){
                    event.preventDefault();
                    var name = $("#name").val();
                    var city = $("#city").val();
                    var pin = $("#pin").val();
                    var password = $("#password").val();

                    $.post("/update", { id: id,name:name, city:city,pin:pin,password:password}, function(data) {
                        $("#server-results").html( data );
                        $("#updateform").hide();
                        $(".delete").hide()
                });
                });
            });

        </script>

    </body>
</html>





